/* 공통 스타일 */

body{
    font-size: 20px; 
    text-transform: uppercase;
}

/* 퀵메뉴 */

.quick{
    position: fixed;
    right: 9%; bottom: 10%;
    width: 65px;
}

.quick li{
    background-color: white;
    height: 65px;
    margin-top: 25px;
    border-radius: 18px;
    text-align: center;
    align-content: center;
    padding: auto;
    line-height: 1;
}

.quick > li:nth-of-type(1){font-size: 15px;}
.quick > li:nth-of-type(1)::before{
    display: inline-block;
    content: '';
    width: 35px; height: 35px;
    background: url('../imgs/icon_clouds.svg') 0 / cover;
}

.quick > li:nth-of-type(2){
    background-color: cornflowerblue;
}
.quick > li:nth-of-type(2) > a{
    font-size: 0;
}
.quick > li:nth-of-type(2) > a::after{
    display: inline-block;
    content: '';
    width: 65%; height: 60%;
    background: url('../imgs/icon_chat.svg') 0 /cover;
    vertical-align: bottom;
    margin-top: 5px;
}

.quick > li:nth-of-type(3){font-size: 17px;}
.quick > li:nth-of-type(3)::before{
    display: inline-block;
    content: 'keyboard_arrow_up';
    font-family: 'Material Symbols Outlined';
    font-size: 40px;
    vertical-align: middle;
    line-height: 0.6;
}

