@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
@import url(./reset.css);
@import url(./common.css);

/* header */

header{
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0; top: 0;
}

.header{
    width: 1420px;
    display: flex;
    margin: 5px auto;
    align-items: center;
    justify-content: space-between;    
}

.header > a{font-size: 0;}
.header > a::after{
    display: inline-block;
    content: '';
    width: 100px; height: 100px;
    background: url('../imgs/banner.svg') 0 no-repeat;
    vertical-align: middle;
}

.header a{color: white;}

.header .main > a{
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 15px;
}
.header .info > a{
    font-size: 15px;
    margin: 0 10px;
}


/* main */

.spot{
    width: 100%; height: 100vb;
    background: url('../imgs/img_main-spot.jpg') 0 0 / cover no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot .booking{
    width: 1420px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 70px;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;    
}

.booking p{font-weight: 300; margin-bottom: 10px;}
.booking b{font-size: 30px;}
.booking span{font-size: 0;}
.booking span::after{
    display: inline-block;
    font-size: 40px;
    content: 'keyboard_arrow_down';
    font-family: 'Material Symbols Outlined';
    vertical-align:top;
    margin-left: 50px;
}
.booking a{font-size: 0;}
.booking a::after{
    display: inline-block;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    content: 'search';
    font-family: 'Material Symbols Outlined';
    vertical-align:middle;
}